img {
    width: 100%;
}

.item3 {
    position: relative;
}

.item3 .bank {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    position: absolute;
    padding: 0 13%;
    text-align: center;
    top: 0;
}

.item3 .bank a {
    background: #ff5716;
    font-size: 14px;
    color: #fff;
    border-radius: 20px;
    padding: 5px 0;
    width: 44%;
}
